body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f4;
}
body.no-scroll {
    overflow: hidden;
}   

.intro, .job-listings {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-listings .job {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.job-listings .job h3 {
    margin: 0;
}

.job-listings .job button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.job-listings .job button:hover {
    background-color: #45a049;
}

.apply-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 80vh; /* Set maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
}

.apply-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.apply-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.apply-form input[type="text"],
.apply-form input[type="email"],
.apply-form input[type="tel"],
.apply-form input[type="file"],
.apply-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

.apply-form button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.apply-form button:hover {
    background-color: #0056b3;
}

.apply-form input[type="file"] {
    padding: 3px;
    font-size: 14px;
}

.apply-form select {
    padding: 10px;
    font-size: 16px;
}

