/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header-top {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    animation: fadeInDown 1s ease-in-out; /* Animation for header */
}

.header-top h1 {
    margin: 0;
    font-size: 28px;
}

.navbar ul {
    list-style-type: none;
    margin-top: 20px;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
    animation: fadeInLeft 1s ease-in-out; /* Animation for navbar items */
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

/* Sidebar */
.sidebar {
    background-color: #000000;
    width: 200px;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
    animation: slideInLeft 1s ease-in-out; /* Animation for sidebar */
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul li {
    margin-bottom: 10px;
}

.sidebar-nav ul li a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.sidebar-nav ul li a:hover {
    background-color: #333;
}

.container {
    margin-left: 220px;
    animation: slideInRight 1s ease-in-out; /* Animation for content container */
}

/* Content */
.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* CSS for loading icon */
#loading-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    z-index: 9999; /* Ensure it's on top */
  }
  
  .spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Rotate animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  