body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1,
header a {
    color: #fff;
    margin: 0;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    color: #3498db;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #ddd;
    transform: translateY(-3px);
}

nav ul li a.selected {
    color: #fff;
    background-color: #007bff;
}

nav ul li a.selected:hover {
    background-color: #0056b3;
}

.content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

article header h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

article p {
    margin-bottom: 1rem;
}

/* Add styles for the loading animation */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #efefefea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #ccc;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}

.hide-contents {
    opacity: 0;
    pointer-events: none;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
    margin-bottom: auto;
}

.footer-bottom{
    text-align: center;
    font-size: 15px;
    font-weight: 20;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #3498db;
}

.sidenav {
    position: fixed;
    top: 108.3px;
    left: 0;
    width: 200px;
    height: auto;
    background-color: rgba(240, 240, 240, 0.8); /* Adjust transparency here */
    padding: 20px;
    color: #333;
    display: none;
    transition: display 0.3s ease;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidenav li {
    margin-bottom: 10px;
}

.sidenav a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidenav a:hover {
    background-color: #ccc;
}

#click:checked ~ .sidenav {
    display: block;
}

#main-content {
    transition: margin-left 0.5s, margin-right 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content article,
.recent-updates {
    animation: fadeInUp 0.5s ease-in-out both;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

li:hover {
    transform: translateY(-5px);
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #f76e52;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.recent-updates {
    background-color: hsla(0, 0%, 100%, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.recent-updates .container {
    background-color: rgba(255, 255, 255, 0.445);
    padding: 20px;
    border-radius: 10px;
}

.recent-updates ul {
    list-style-type: disc;
    margin-left: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    height: 50px;
}

.site-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-info h4 {
    margin: 0;
}

.site-info p {
    margin: 0;
    font-size: 14px;
}

#click {
    display: none;
}

label[for="click"] {
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 0;
}
body.no-scroll {
    overflow: hidden;
}

#signOutButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545; /* Red color for sign-out button */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signOutButton:hover {
    background-color: #c82333; /* Darker red color on hover */
}
